<div class="jumbotron" id="top">


    <div id="home">
        <div id="summary" style="padding-bottom:10px;">
            <h1>Our story...</h1>
            <h3>
                We are a young team of professionals seeking to provide the perfect mortgage<br />
                for our customers. It's our goal at Mortage to make the process as simple as it can be.<br />
                Customers can fill out one simple form and are able to manage multiple mortgages at a time<br />
                Mortage offers a variety of tools to manage information and create cases in the event of a
                problem.
            </h3>
        </div>
                <div id="firstBlock" >
            <img id="family" src="~/Content/Images/family.jpg" />
                    <h3>How do I apply for a mortgage?</h3>
                    <br />
                    <p>Click "Apply" at the top of the page and it will direct you to our application page. Fill
                    out all of the information required and click submit! An email will be sent with information 
                    on how to manage your account.</p>
                    <br />
                    <br />
                    <br />
                </div>
                <div id="secondBlock" style="padding-top:10px;">
                    <img id="hand" width="500" src="~/Content/Images/handshake.jpg" style="padding-bottom:10px;"/>
                    <h3>Our Team</h3>
                    <br />
                    <p>
                        Our team consists of talented young professionals. We combine new technology and traditional
                        mortgage processes. We utilize microsoft dynamics technology to optimize business processes 
                        and information management. Mortage will never contact members requesting for personal information.
                    </p>
                </div>
        <!-- team pictures-->
            <div id="teamPictures">


            </div>
    </div>
    <!--My Mortgages-->
    <div id="mortgage" style="display:none">
        
        @*<button id="buttontest1" onclick="getPost1()">click me for all cases</button>
        <div id="showData1"></div>*@

        <div id="homecontent">
            <div class="jumbotron" id="leftTable">
                <h2>Mortgage Applications</h2>
                <div id="lTable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mortgage Application Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>example house</td>
                                <td>declined <button onclick="reason();">Reason</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="reason" style="display:none">
                    <button id="cancelPayment" onclick="cancelReason()" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <br /><br />
                    Mortgage loan declined due to insufficient credit score.
                </div>
            </div>
            <div class="jumbotron" id="rightTable">
                <h1 id="welcome"> Welcome Back, John Doe</h1>
                <h2>Active Mortgages</h2>
                <div id="rTable" class="mortgage">
                    <table class="table table-hover mortgage">
                        <thead class="mortgage">
                        </thead>
                        <tbody class="mortgage"></tbody>
                    </table>
                </div>
                <div id="makePayment" style="display:none">
                    <button id="cancelPayment" onclick="cancelPayment()" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <br /><br />
                    Payment Amount:<br /><input id="payment" onblur="payValidate()" type="number" placeholder="0.00" step=".01" value="525.17" readonly />
                    <div class="addressError" id="paymentError" style="display:none">
                        You cannot make payments less than $1.00
                    </div>
                    <br /><br />
                    <button type="submit" class="btn btn-warning" role="button" onclick="paySubmit()">Submit</button>

                </div>

            </div>
        </div>

    </div>


    <div id="apply" style="display:none">

        <h1>Apply for a new Mortgage:</h1>
        <div class="container" id="applyLeft">
            <form id="newMortgage">
                <!-- full-name input-->
                <h2>Name</h2>
                <div class="form-group">
                    <label class="control-label" for="first-name">First Name</label>
                    <div class="controls">
                        <input id="first-name" onblur="checkAddress()" name="first-name" type="text" placeholder="First Name"
                               class="form-control">
                        <div class="addressError" style="display:none">
                            Required Field
                        </div><br />
                        <label class="control-label" for="last-name">Last Name</label>
                        <br />
                        <input id="last-name" onblur="checkAddress()" name="last-name" type="text" placeholder="Last Name"
                               class="form-control">
                        <div class="addressError" style="display:none">
                            Required Field
                        </div>
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- MORTGAGE PART-->
                <h3>Mortgage</h3>
                <div class="form-group">
                    <label class="control-label" for="mortgageTitle">Mortgage Title:</label>
                    <input type="text" id="mortgageTitle" onblur="checkTitle()" class="form-control" />
                    <div id="errorMT" style="display:none">
                        Title cannot be blank
                    </div>
                    <br />
                    <label class="control-label" for="applicationAmount">Amount:</label><br /><input type="number" placeholder="0.00" step=".01" id="applicationAmount" onblur="checkAmount()" class="form-control" />
                    <br />
                    <label class="control-label" for="currency">Currency</label><br />
                    <select id="currency" class="form-control">
                        <option selected="selected" value="USD">USD</option>
                        <option value="CAD">CAD</option>
                    </select>
                    <br />
                    <label class="control-label" for="SSN">Social Security Number:</label>
                    <input type="text" id="SSN" placeholder="xxx-xx-xxxx" onblur="checkSSN()" class="form-control" />
                    <div id="errorSSN" style="display:none">
                        Please Enter a valid SSN
                    </div>
                    <br />
                    <label class="control-label" for="mortDescr">Description:</label>
                    <textarea id="mortDescr" rows="6" cols="50" onblur="mortDescr()" class="form-control"> </textarea>
                    <div id="mortDescrError" style="display:none">
                        Description cannot be blank
                    </div>
                    <br /><br />
                </div>
                <button type="submit" class="btn btn-warning" role="button" onclick="applyValidate()">Submit</button>
                <div id="noFields" style="display:none"><br />All fields must be filled out</div>
            </form>

        </div>
        <div class="container" id="applyRight">

           
            @*Got this from https://bootsnipp.com/snippets/featured/generic-postal-address-form*@
            <div class="row">
                <form class="form-horizontal" id="addressForm">
                    <fieldset>
                        <!-- Address form -->

                        <h2>Address</h2>
                        <!-- address-line1 input-->
                        <div class="control-group">
                            <label class="control-label" for="address-line1">Address Line 1</label>
                            <div class="controls">
                                <input id="address-line1" onblur="checkAddress()" name="address-line1" type="text" placeholder="Address Line 1"
                                       class="form-control">
                                <div class="addressError" style="display:none">
                                    Required Field
                                </div>
                                <p class="help-block">Street address, P.O. box, company name, c/o</p>
                            </div>
                        </div>
                        <!-- address-line2 input-->
                        <div class="control-group">
                            <label class="control-label" for="address-line2">Address Line 2</label>
                            <div class="controls">
                                <input id="address-line2" name="address-line2" type="text" placeholder="Address Line 2"
                                       class="form-control">
                                <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                            </div>
                        </div>
                        <!-- city input-->
                        <div class="control-group">
                            <label class="control-label" for="city">City / Town</label>
                            <div class="controls">
                                <input id="city" onblur="checkAddress()" name="city" type="text" placeholder="City" class="form-control">
                                <div class="addressError" style="display:none">
                                    Required Field
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <!-- region input-->
                        <div class="control-group">
                            <label class="control-label" for="region">State / Province / Region</label>
                            <div class="controls">
                                <input id="region" name="region" onblur="checkAddress()" type="text" placeholder="State / Province / Region"
                                      class="form-control">
                                <div class="addressError" style="display:none">
                                    Required Field
                                </div>
                                <p class="help-block"></p>

                            </div>
                        </div>
                        <!-- postal-code input-->
                        <div class="control-group">
                            <label class="control-label" for="postal-code">Zip / Postal Code</label>
                            <div class="controls">
                                <input id="postal-code" onblur="checkAddress()" name="postal-code" type="text" placeholder="Zip / Postal Code"
                                       class="form-control">
                                <div class="addressError" style="display:none">
                                    Required Field
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <!-- country select -->
                        <div class="control-group">
                            <label class="control-label" for="country">Country</label>
                            <div class="controls">
                                <select id="country" name="country" class="form-control">
                                    <option value="">(please select a country)</option>
                                    <option value="CA">Canada</option>
                                    <option value="US" selected="selected">United States</option>
                                </select>

                            </div>


                        </div>
                    </fieldset>
                    <div class="addressError" style="display:none">
                        Please fill out required fields
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div id="service" style="display:none">
        <form id="cases">
            <h1>How can we help you?</h1>
            <br />
            <label class="control-label">Case Name:</label><br />
            <input class="form-control" type="text" id="titl" />
            <div id="titlError" style="display:none" onblur="caseValidate()">This field cannot be empty</div>
            <br /><br />

                  <label class="control-label">Reason:</label><br />
            <textarea class="form-control" rows="6" cols="50" id="desc" onblur="caseValidate()"> </textarea>
            <div id="descError" style="display:none">This field cannot be empty</div>
            <br /><br />
            <button type="submit" class="btn btn-warning" role="button" onclick="caseSubmit()">Submit</button>
        </form>
        <br /><br />
              <div style="display: none;">
                  <h3>Active Cases</h3>
                  <br />
                  <div class="jumbotron" id="bottomTable">
                      <div id="caseTable">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Case ID</th>
                                      <th>Description</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>123456789</td>
                                      <td>Example Complaint. blah blah blah blah <button onclick="openCase()">More Info</button></td>
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                      <div id="case" style="display:none">
                          <button id="cancelPayment" onclick="closeCase()" type="button" class="close" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <br /><br />
                          Details of the case here.
                          <br /><br />
                          blah blah blah blah<br />
                          blah blah blah...
                      </div>

                  </div>
              </div>

    </div>

    <div id="help" style="display:none">


    </div>

</div>
