<div class="jumbotron" id="info">
    <h2> Welcome Back, John Doe</h2>
    <h4>  Total Balance:$0.00<br />Number of Mortgages: 0<br />Active Cases: 0<br /></h4>
</div>
<div class="container" id="homecontent">
    <div class="row">
        <div class="col-sm-6" id="left">
            <div><h2>Current APR: 1234</h2><br />stuff<br />stuff<br />stuff<br /></div>
        </div>
        <div class="col-sm-6" id="right">
            <h2>Recent Mortgages</h2>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mortgage Name</th>
                        <th>Mortgage Balance</th>
                        <th>Next Payement Due</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>example house</td>
                        <td>$120.00</td>
                        <td>11/11/11</td>
                    </tr>
                    <tr>
                        <td>shows</td>
                        <td>$120.00</td>
                        <td>11/11/11</td>
                    </tr>
                    <tr>
                        <td>max</td>
                        <td>$120.00</td>
                        <td>11/11/11</td>
                    </tr>
                    <tr>
                        <td>five</td>
                        <td>$120.00</td>
                        <td>11/11/11</td>
                    </tr>
                    <tr>
                        <td>rows</td>
                        <td>$120.00</td>
                        <td>11/11/11</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
