#leftTable, #right {
    display: none;
}

#rightTable {
    width: 100%;
}

#welcome {
    font-size: 3em;
}

#family {
    width: 100%;
}

.hidden {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}