#leftTable, #right {
    display: none;
}

#rightTable {
    width: 100%;
}

#welcome {
    font-size: 3em;
}

#family {
    max-width: 50%;
    float:left;
    height:280px;
    padding-right:25px;
}
#family h3 {
        float:right;
}
#hand{
    width:50%;
    float:right;
}
h3,h1,p{
font-family:Georgia;
}
.team-photo{
    border-radius: 50%;
    height: 100px;
}
.name,.role {
    display: block;
    text-align: center;
}
.name {
    font-family: Oswald;
    font-size: 1.2em;
}
body, p {
    font-family: Lato;
}
h1,h2,h3,h4,h5 {
    font-family: Oswald;
}
#teamPictures {
    margin-top: 30px;
}
footer {
    text-align: center;
}